{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Your name is {{ greeting }} Worldc</p>
            </div>
            <div class="col">
                <div class="like">
                    <span class="like--number">5</span><a href="{{ path('article_toggle_like',{slug: slug}) }}" class="like--icon like--not-liked">  fav  </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}

